<div ng-include="'views/partial/header.html'"></div>
<p>
    NOTES：
 
1、最新公告卡片
此卡片主要分为四个部分：最新公告、关于我的消息、公告标题以及查看更多公告。
 
点击“关于我 x条新消息”查看关于此业主的未读消息。如果没有未读新消息，则此区域不显示。
 
公告标题：字数限制为32字以内，最多展示两行。若为单行标题公告，此区域可显示四条。双行则根据数目调整。
对于重要公告，例如近期开展的活动希望业主踊跃参加，可显示为彩色标题，给予区分。
 
点击“更多”，查看更多公告。
 
排序规则：按公告发布时间倒序排列。
 
2、右侧第一个卡片，显示基本信息。包括 业主姓名、所属小区以及小区所在地天气预报。
 
业主姓名：因为考虑到有的业主名字过长，所以“业主您好~”字样为转行置右对齐。
 
所属小区：一个业主可能所属多个小区，所以我们支持切换小区。点击﹀即可查看该业主名下的其他已认证小区。
 
小区所在地天气预报：天气预报包括当前温度、天气状态以及地区。地区显示规则为“xx省  xx市”或者“xx市”。
 
3、访客授权：业主可提前授权访客，以方便访客进入小区。
 
4、缴费专区：业主可在此缴纳一些相关费用。
 
5、维修报修：主要分为两部分，一个是预约维修另一个是我要报修。
 
6、买买买：每日推荐不同商品商家信息，可为大数据分析推送，也可为广告投送。具体内容由后台编辑。
 
7、底部导航：包括首页、邻里之间、意见反馈和我是业主。
 
8、右上角三个小点点为全平台的分享按钮。
</p>