<div ng-include="'views/partial/header.html'"></div>
<form action="" class="find-password" ng-show="isShowone" name="formOne"
  novalidate>
    <div class="input-group">
        <div class="mobile-group">
            <input type="number" name="telephone" ng-model="mobile" placeholder="手机号" required ng-pattern="/^[1]{1}[34578]{1}[0-9]{9}$/">
        </div>
        <div class="sms-code-group clearfix">
            <input type="number" class="sms-code" ng-model="SMSCode" placeholder="短信验证码" required>
            <button type="button" class="btn-sms" ng-click="getSMSCode()" ng-disabled="btnSMSDisabled || formOne.telephone.$invalid"  >{{btnSMSText}}</button>
        </div>
    </div>
    <div class="error">
        <p class="error-field" ng-show="formOne.telephone.$dirty && formOne.telephone.$invalid">请输入正确的手机号
        </p>
    </div>
    <button class="confirm-btn" ng-disabled="formOne.$invalid" ng-click="next()" type="button" >下&nbsp;一&nbsp;步</button>
</form>
<form action="" class="find-password" ng-show="isShowtwo" name="formtwo" novalidate>
    <div class="input-group">
        <div class="mobile-group">
            <input type="text" class="telephone" ng-model="mobile" placeholder="手机号" disabled="true">
        </div>
        <div class="password-group">
            <input type="password" class="password" ng-model="password" placeholder="请输入6-16位密码" name="password" ng-minlength="6" ng-maxlength="16" id="password" required>
        </div>
        <div class="passwordagin-group">
            <input type="password" class="passwordagin" ng-model="confirmPsw" name="confirmPsw" placeholder="请再次输入密码" id="confirmPsw" required>
        </div>
    </div>
    <div class="error">
       <p class="error-field" ng-show="formtwo.password.$invalid && formtwo.password.$error.required">密码不能为空
        </p>
        <p class="error-field" ng-show="formtwo.password.$error.minlength||
            formtwo.password.$error.maxlength">内容不合法
        </p>
        <p class="error-field" ng-show="confirmPsw != password">两次密码输入不一致</p>
    </div>
    <button type="button" class="confirm-btn" ng-disabled="formtwo.$invalid" ng-click="submit()">完&nbsp;成</button>
</form> 
