<div class="head">
    <div class="face" data-ng-init="load()">
        <div class="face-item">
            <!-- <img src="public/img/touxiang.jpg" alt=""> -->
        </div>
        <div ng-repeat="item in formData">
            <p name="" class="name">{{item.ownername}}</p>
        </div>
    </div>
</div>
<div class="content">
    <ul>
        <!-- <li class="li-frist">
            <a href="#" class="list"> 个人资料
                <span class="fa fa-chevron-right back-icon"></span>
            </a>
        </li> -->
        <li class="li-frist">
            <a ui-sref="authenticationList" class="list">认证信息
                <span class="identification">去认证</span>
                <span class="fa fa-chevron-right back-icon"></span>
            </a>  
        </li>
        <li class="li-frist">
            <a href="#/reset" class="list">修改密码
                <span class="fa fa-chevron-right back-icon"></span>
            </a>
        </li>
        <!-- <li class="li-frist">
            <a href="#" class="list">维修报修全部提交
                <span class="fa fa-chevron-right back-icon"></span>
            </a>
        </li> -->
        <li class="li-frist">
            <a href="#/messageList" class="list">关于我的消息
                <span class="reminder">*</span>
                <span class="fa fa-chevron-right back-icon"></span>
            </a>
        </li>
        <li class="li-frist">
            <a href="#/visitList" class="list">访客授权列表
                <span class="fa fa-chevron-right back-icon"></span>
            </a>
        </li>
        <li class="li-frist">
            <a href="#/contact" class="list">联系我们
                <span class="fa fa-chevron-right back-icon"></span>
            </a>
        </li>
        <li class="li-frist">
            <a href="#/login" class="list" ng-click="exit()">退出登录
                <span class="fa fa-chevron-right back-icon"></span>
            </a>
        </li>
    </ul>
</div>
<div ng-include="'views/partial/footer.html'"></div>
