<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="public/img/photo1.jpg" class="header-img" alt="">
            </div>
            <div class="col-sm-3">
                <div class="panel-group table-responsive" role="tablist">
                    <div class="panel panel-primary leftMenu">
                        <div class="panel-heading" id="collapseListGroupHeading2" data-toggle="collapse" data-target="#collapseListGroup2" role="tab" >
                            <h4 class="panel-title">
                                个人信息
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <a href="#/person">
                                    <span class="glyphicon glyphicon-triangle-right"></span>查看信息
                                </a>
                              </li>
                              <li class="list-group-item">
                                <a href="#/password">
                                    <span class="glyphicon glyphicon-triangle-right"></span>修改密码
                                </a>
                              </li>
                            </ul>
                        </div>
                    </div> 
                    <div class="panel panel-primary leftMenu">
                        <!-- 利用data-target指定要折叠的分组列表 -->
                        <div class="panel-heading" id="collapseListGroupHeading1" data-toggle="collapse" data-target="#collapseListGroup1" role="tab" >
                            <h4 class="panel-title">
                                查看流水单
                                <span class="glyphicon glyphicon-chevron-up right"></span>
                            </h4>
                        </div>
                        <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <!-- 利用data-target指定URL -->
                                <a href="#/no">
                                    <span class="glyphicon glyphicon-triangle-right"></span>未完成流水单
                                </a>
                              </li>
                              <li class="list-group-item">
                                <a href="#/already">
                                    <span class="glyphicon glyphicon-triangle-right"></span>维修保养历史
                                </a>
                              </li>
                            </ul>
                        </div>
                    </div><!--panel end--> 
                    <div class="panel panel-primary leftMenu">
                        <div class="panel-heading" id="collapseListGroupHeading4" data-toggle="collapse" data-target="#collapseListGroup4" role="tab" >
                            <h4 class="panel-title">
                                维修保养
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <div id="collapseListGroup4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading4">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <a href="#/repair">
                                    <span class="glyphicon glyphicon-triangle-right"></span>查看车辆
                                </a>
                              </li>
                            </ul>
                        </div>
                    </div> 
                    <div class="panel panel-primary leftMenu">
                        <div class="panel-heading" id="collapseListGroupHeading3" data-toggle="collapse" data-target="#collapseListGroup3" role="tab" >
                            <h4 class="panel-title">
                                车辆管理
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <div id="collapseListGroup3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseListGroupHeading3">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <a href="#/carsList">
                                    <span class="glyphicon glyphicon-triangle-right"></span>查看车辆
                                </a>
                              </li>
                              <li class="list-group-item">
                                <a href="#/addCars">
                                    <span class="glyphicon glyphicon-triangle-right"></span>增加车辆
                                </a>
                              </li>
                            </ul>
                        </div>
                    </div>  
                    <div class="panel panel-primary leftMenu">
                        <div class="panel-heading" id="collapseListGroupHeading5" data-toggle="collapse" data-target="#collapseListGroup5" role="tab" >
                            <h4 class="panel-title">
                                退出
                                <span class="glyphicon glyphicon-chevron-down right"></span>
                            </h4>
                        </div>
                        <div id="collapseListGroup5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading5">
                            <ul class="list-group">
                              <li class="list-group-item">
                                <a href="#/home">
                                    <span class="glyphicon glyphicon-triangle-right"></span>退出登录
                                </a>
                              </li>
                            </ul>
                        </div>
                    </div>   
                </div>
            </div>
            <div class="col-sm-9">
                <div class="panel panel-primary margin-top-15">
                    <div class="panel-heading">
                        <h3 class="panel-title">添加车辆</h3>
                    </div>
                    <div class="panel-body">
                        <form action="" class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-3">车牌号</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" ng-model="formData.chepaihao">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">型号</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" ng-model="formData.xinghao">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">品牌</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" ng-model="formData.pinpai">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">产地</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" ng-model="formData.chandi">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3">购入日期</label>
                                <div class="col-sm-7">
                                    <input type="date" class="form-control" ng-model="formData.date">
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary col-sm-offset-5" ng-click="submit()">保存</button>
                            <button type="button" class="btn btn-primary col-sm-offset-2" onclick="javascript:history.back(-1);">取消</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>