<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Bootstrap Snippet: Login Form</title>
  
</head>

<body>
    <div class="wrapper">
    <form class="form-signin">       
      <h2 class="form-signin-heading" style="text-align:center;">奇瑞汽车售后服务系统</h2>
      <input type="text" class="form-control" name="username" placeholder="用户名" required="" autofocus="" ng-model="username"/>
      <input type="password" class="form-control" name="password" placeholder="密码" required="" ng-model="password"/>  
      <select name="" class="form-control" ng-model="status">
        <option value="0" ng-selected="true">客户</option>
        <option value="1">维修人员</option>
      </select>    
      <label class="checkbox" style="margin-left:18px;">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submit()">登录</button>   
    </form>
  </div>
  
  
</body>
</html>
