<div class="header">
    <h3>邻里之间</h3>
</div>
<div class="title">
    <span>【本周话题】</span>
    <span>讲一个你觉得最好笑的笑话吧~</span>
    <span>></span>
</div>
<div class="fa-tie">
    <a href="#/send" class="left">发帖</a>
    <a href="" class="right">发热</a>
    <a href="" class="right">最新</a>
    <a href="">&nbsp;</a>
</div>
<ul class="message" data-ng-init="load()">
    <li ng-repeat="item in formData">
        <p class="name">{{item.userid}}</p>
        <p>{{item.message}}</p>
        <span>{{item.creattime}}</span>
    </li>
</ul>
<div ng-include="'views/partial/footer.html'"></div>